<div *ngFor="let base of manCards; let col = index" class = "maneuver baseCard" id = "maneuver{{col}}"
(dragover) = "allowDrop($event)"
(drop) = "dropBase($event, col)"
> 
  <img *ngFor="let card of manCards[col]; let i = index"  id="{{card.id}}" 
  [style.margin-top.px] = "getMargin(i)"
  [src] = "cardSvc.getSource(card)"
  [style.position] = "static"
  [draggable]="card.isFaceUp" 

  (dragstart) = "dragStart($event, card, col, 0)"
  (dragover) = "allowDrop($event)"
  (drop) = "dropzone($event, card, col, i)"
  (click) = "cardDblClicked($event, card, col, 0)"
  
  />
</div>