<div class = "maneuver baseCard" id = "maneuver0"
(dragover) = "allowDrop($event)"
(drop) = "dropBase($event, 0)"
> 
  <img *ngFor="let card of manCards[0]; let i = index"  id="{{card.id}}" 
  [style.margin-top.px] = "getMargin(i)"
  [src] = "getSource(card)"
  [style.position] = "static"
  [draggable]="card.isDraggable"

  (dragstart) = "dragStart($event, card, 0, 0)"
  (dragover) = "allowDrop($event)"
  (drop) = "dropzone($event, card, 0, i)"
  
  />
</div>    
  
<div class = "maneuver baseCard" id = "maneuver1"
(dragover) = "allowDrop($event)"
(drop) = "dropBase($event, 1)"
> 
  <img *ngFor="let card of manCards[1]; let i = index"  id="{{card.id}}" 
  [style.margin-top.px] = "getMargin(i)"
  [src] = "getSource(card)"
  [style.position] = "static"
  [draggable]="card.isDraggable"

  (dragstart) = "dragStart($event, card, 1, 0)"
  (dragover) = "allowDrop($event)"
  (drop) = "dropzone($event, card, 1, i)"
  />
</div>

<div class = "maneuver baseCard" id = "maneuver2"
(dragover) = "allowDrop($event)"
(drop) = "dropBase($event, 2)"
> 
  <img *ngFor="let card of manCards[2]; let i = index"  id="{{card.id}}" 
  [style.margin-top.px] = "getMargin(i)"
  [src] = "getSource(card)"
  [style.position] = "static"
  [draggable]="card.isDraggable"

  (dragstart) = "dragStart($event, card, 2, 0)"
  (dragover) = "allowDrop($event)"
  (drop) = "dropzone($event, card, 2, i)"
   />
</div>

<div class = "maneuver baseCard" id = "maneuver3"
(dragover) = "allowDrop($event)"
(drop) = "dropBase($event, 3)"
> 
  <img *ngFor="let card of manCards[3]; let i = index"  id="{{card.id}}" 
  [style.margin-top.px] = "getMargin(i)"
  [src] = "getSource(card)"
  [style.position] = "static"
  [draggable]="card.isDraggable"

  (dragstart) = "dragStart($event, card, 3, 0)"
  (dragover) = "allowDrop($event)"
  (drop) = "dropzone($event, card, 3, i)"
   />
</div>

<div class = "maneuver baseCard" id = "maneuver4"
(dragover) = "allowDrop($event)"
(drop) = "dropBase($event, 4)"
> 
  <img *ngFor="let card of manCards[4]; let i = index"  id="{{card.id}}" 
  [style.margin-top.px] = "getMargin(i)"
  [src] = "getSource(card)"
  [style.position] = "static"
  [draggable]="card.isDraggable"

  (dragstart) = "dragStart($event, card, 4, 0)"
  (dragover) = "allowDrop($event)"
  (drop) = "dropzone($event, card, 4, i)"
   />
</div>

<div class = "maneuver baseCard" id = "maneuver5"
(dragover) = "allowDrop($event)"
(drop) = "dropBase($event, 5)"
> 
  <img *ngFor="let card of manCards[5]; let i = index"  id="{{card.id}}"
  [style.margin-top.px] = "getMargin(i)"
  [src] = "getSource(card)"
  [style.position] = "static"
  [draggable]="card.isDraggable"

  (dragstart) = "dragStart($event, card, 5, 0)"
  (dragover) = "allowDrop($event)"
  (drop) = "dropzone($event, card, 5, i)"
   />
</div>

<div class = "maneuver baseCard" id = "maneuver6"
(dragover) = "allowDrop($event)"
(drop) = "dropBase($event, 6)"
> 
  <img *ngFor="let card of manCards[6]; let i = index"  id="{{card.id}}" 
  [style.margin-top.px] = "getMargin(i)"
  [src] = "getSource(card)"
  [style.position] = "static"
  [draggable]="card.isDraggable"

  (dragstart) = "dragStart($event, card, 6, 0)" 
  (dragover) = "allowDrop($event)"
  (drop) = "dropzone($event, card, 6, i)"
   />
</div>