<div class = "maneuver baseCard" id = "maneuver1"> 
  <img *ngFor="let card of maneuver1"  id="{{card.id}}"  />
</div>    
  
<div class = "maneuver baseCard" id = "maneuver2"> 
  <img *ngFor="let card of maneuver2"  id="{{card.id}}"  />
</div>

<div class = "maneuver baseCard" id = "maneuver3"> 
  <img *ngFor="let card of maneuver3"  id="{{card.id}}"  />
</div>

<div class = "maneuver baseCard" id = "maneuver4"> 
  <img *ngFor="let card of maneuver4"  id="{{card.id}}"  />
</div>

<div class = "maneuver baseCard" id = "maneuver5"> 
  <img *ngFor="let card of maneuver5"  id="{{card.id}}"  />
</div>

<div class = "maneuver baseCard" id = "maneuver6"> 
  <img *ngFor="let card of maneuver6"  id="{{card.id}}"  />
</div>

<div class = "maneuver baseCard" id = "maneuver7"> 
  <img *ngFor="let card of maneuver7"  id="{{card.id}}"  />
</div>