.title{
    width: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: inline-block;
    font-size: 35px;
    text-align: center;
    color: white;
    margin-top: 1%;
    margin-bottom: 2%;
}

