<div class = "talon baseCard" id = "talonBase"
    (click) = "returnToTalon($event)"
    > 
    <img *ngFor="let card of talonCards; let i = index" id="{{card.id}}" 
    [style.margin-top.px] = "0"
    [src] = "getSource(card)"
    [style.position] = "static"
    [draggable]="card.isDraggable"

    />
</div>

<div class = "waste baseCard" id = wasteBase> 
    <img *ngFor="let card of wasteCards; let i = index"  id="{{card.id}}"
    [style.margin-left.px] = "getWasteMargin(i)"
    [src] = "getSource(card)"
    [style.position] = "static"
    [draggable]="getIsDraggable(card)"

    (dragstart) = "dragStart($event, card, 0, 1)" 
    
    />
 </div>