.talon{
    /* margin-left: 20%; */
    margin-left: 0px;
    float: left;
    background-image: url(../../assets/images/back.png);
    background-size: 100%;
    background-position: center;
    
    
}

.waste{
    margin-left: 10%;
    float: left;
}