.talon{
    
    margin-left: 20%;
    float: left;
    background-image: url(../../assets/images/back.png);
    background-size: 100%;
    background-position: center;
    
    
}

.waste{
    margin-left: 5%;
    float: left;
}